.rules {
  &__title {
    font-size: 40px !important;
    text-align: center;
    font-weight: 600;
    color: transparent;
    background: linear-gradient(
        180deg,
        rgb(47, 134, 255),
        rgba(47, 134, 255, 0.417)
      ),
      rgba(255, 255, 255, 0.202);
    background-clip: text;
  }

  &__box {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
  }

  &__card {
    width: 100%;
    height: fit-content;
    padding: 30px;
    background: radial-gradient(
        300px 150px at 50% 0%,
        rgba(255, 255, 255, 0.08),
        transparent 60%
      ),
      radial-gradient(
        300px 150px at 50% 100%,
        rgba(255, 255, 255, 0.08),
        transparent 60%
      ),
      rgba(16, 16, 16, 0.55);
    backdrop-filter: saturate(170%) blur(14px);
    -webkit-backdrop-filter: saturate(170%) blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06),
      0 8px 26px rgba(0, 0, 0, 0.28);
    border-radius: 30px;
    position: relative;
  }

  &__card-title {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
  }

  &__card-text {
    font-size: 18px;
    margin-top: 20px;
    line-height: 30px;
    color: rgb(231, 231, 231);
    text-align: center;
  }

  &__card-line {
    width: 20%;
    height: 3px;
    background: #5a5a5a;
    border-radius: 20px;
    animation: line 0.7s infinite alternate ease-in-out;
    margin: 0 auto;
    margin-top: 20px;
  }

  @keyframes line {
    from {
      width: 18%;
    }
    to {
      width: 20%;
    }
  }

  &__socials {
    column-gap: 20px;
    margin-top: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 25%;
  }

  &__span-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 10px;
    margin-top: 20px;

    & span {
      color: transparent;
      background: linear-gradient(
          180deg,
          rgb(47, 134, 255),
          rgba(47, 134, 255, 0.417)
        ),
        rgba(255, 255, 255, 0.202);
      background-clip: text;
    }
  }
}

@media (max-width: 768px) {
  .rules__title {
    font-size: 38px !important;
    margin-top: 90px;
  }
}

@media (max-width: 615px) {
  .rules__title {
    font-size: 35px !important;
    margin-top: 90px;
  }

  .rules__box {
    margin-top: 30px;
    gap: 60px;
  }

  .rules__card-title {
    font-size: 22px !important;
  }

  .rules__card-text {
    font-size: 17px !important;
  }

  .rules__socials {
    column-gap: 18px;
    margin-top: 18px;
  }
}

@media (max-width: 550px) {
  .rules__title {
    font-size: 32px !important;
  }

  .rules__box {
    margin-top: 25px;
    gap: 50px;
  }

  .rules__card-title {
    font-size: 21px !important;
  }

  .rules__card-text {
    font-size: 16px !important;
  }

  .rules__socials {
    column-gap: 16px;
    margin-top: 16px;
  }
}

@media (max-width: 500px) {
  .rules__title {
    font-size: 30px !important;
  }

  .rules__box {
    margin-top: 20px;
    gap: 40px;
  }

  .rules__card-title {
    font-size: 21px !important;
  }

  .rules__card-text {
    margin-top: 15px;
    font-size: 16px !important;
    line-height: 160%;
  }

  .rules__socials {
    column-gap: 16px;
    margin-top: 16px;
  }

  .rules__card {
    padding: 25px;
  }
}

@media (max-width: 450px) {
  .rules__title {
    font-size: 28px !important;
    margin-top: 70px;
  }

  .rules__box {
    margin-top: 15px;
    gap: 30px;
  }

  .rules__card-title {
    font-size: 20px !important;
  }

  .rules__card-text {
    margin-top: 15px;
    font-size: 16px !important;
    line-height: 160%;
  }

  .rules__socials {
    column-gap: 16px;
    margin-top: 16px;
  }

  .rules__card {
    padding: 25px;
  }
}

@media (max-width: 440px) {
  .rules__title {
    font-size: 26px !important;
    margin-top: 50px;
  }
}

@media (max-width: 430px) {
  .rules__title {
    font-size: 25px !important;
    margin-top: 50px;
  }

  .rules__box {
    margin-top: 15px;
    gap: 20px;
  }

  .rules__card-title {
    font-size: 19px !important;
  }

  .rules__card-text {
    margin-top: 10px;
    font-size: 14px !important;
    line-height: 160%;
  }

  .rules__socials {
    column-gap: 15px;
    margin-top: 14px;
  }

  .rules__card {
    padding: 20px;
  }

  .rules__span-card {
    row-gap: 8px !important;
    margin-top: 15px;
  }
}

@media (max-width: 390px) {
  .rules__title {
    font-size: 24px !important;
    margin-top: 50px;
  }

  .rules__card {
    padding: 12px;
  }

  .rules__box {
    margin-top: 13px;
    gap: 15px;
  }
}

@media (max-width: 370px) {
  .rules__title {
    font-size: 22px !important;
    margin-top: 50px;
  }

  .rules__box {
    margin-top: 15px;
    gap: 15px;
  }
}
