.capsheader {
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // column-gap: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 16px;
  }

  &__date {
    font-size: 16px;
    color: #2f86ff;
  }

  &__div {
    background: rgba(20, 20, 20, 0.35);
    backdrop-filter: blur(14px) saturate(150%);
    -webkit-backdrop-filter: blur(14px) saturate(150%);
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.25),
      inset 0 -2px 3px rgba(0, 0, 0, 0.4);
    padding: 14px 18px;
    border-radius: 16px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    &:hover {
      box-shadow: inset 0 1px 2px rgba(88, 88, 88, 0.186),
        inset 0 -2px 3px rgba(0, 0, 0, 0.4);
    }
  }

  &__title {
    font-size: 29px;
    font-weight: 600;
    margin-bottom: 20px;
    color: transparent;
    background: linear-gradient(
        180deg,
        rgb(47, 134, 255),
        rgba(47, 134, 255, 0.417)
      ),
      rgba(255, 255, 255, 0.202);
    background-clip: text;
    margin-top: 0px;
  }

  &__modify {
    font-size: 20px;
    margin-right: 10px;
    background: rgba(40, 40, 40, 0.929);
    backdrop-filter: blur(18px) saturate(140%);
    -webkit-backdrop-filter: blur(18px) saturate(140%);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      transform: rotate(180deg);
      border-radius: 12px;
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

.capsheader {
  @media (min-width: 435px) and (max-width: 1024px) {
    &__box {
      justify-content: center;
      flex-wrap: wrap;
      gap: clamp(15px, 2px, 20px);
    }

    &__link,
    &__link-label,
    &__date {
      font-size: clamp(14px, 2vw, 16px) !important;
    }
  }

  @media (min-width: 320px) and (max-width: 434px) {
    &__box {
      flex-direction: column;
      row-gap: 13px;
    }

    &__title {
      margin-bottom: 0px;
    }

    &__link,
    &__link-label,
    &__date {
      font-size: clamp(14px, 2vw, 16px) !important;
    }
  }
}
