.qonoq {
  margin-top: 100px;

  &__title {
    font-size: 40px !important;
    text-align: center;
    font-weight: 600;
    color: transparent;
    background: linear-gradient(
        180deg,
        rgb(47, 134, 255),
        rgba(47, 134, 255, 0.417)
      ),
      rgba(255, 255, 255, 0.202);
    background-clip: text;
  }

  .qonoq__small-card {
    transform: scale(1);
  }

  &__text {
    font-size: 18px;
    color: rgb(101, 101, 101);
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 15px;
  }

  &__small-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  &__small-card {
    width: 300px;
    height: fit-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff25;
    border-radius: 25px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06),
      0 10px 20px rgba(6, 6, 6, 0.653);
    transition: 0.3s;
    transform: scale(1);

    &:hover {
      transform: scale(1.03);
      cursor: pointer;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.195),
        0 10px 20px rgba(21, 21, 21, 0.405);
    }
  }

  &__small-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #ffffff25;
    box-shadow: 0 5px 15px #39393925;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;

    & svg {
      fill: rgb(47, 134, 255);
      animation: svg 2s infinite linear alternate;
    }

    @keyframes svg {
      from {
        transform: rotate(-30deg);
      }
      to {
        transform: rotate(30deg);
      }
    }
  }

  &__small-title {
    font-size: 18px !important;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
  }

  &__small-text {
    font-size: 16px;
    color: #6f6f6f;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
  }

  &__big-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__big-card {
    max-width: 650px;
    width: 100%;
    height: 550px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff25;
    border-radius: 30px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06),
      0 10px 20px rgba(6, 6, 6, 0.653);
  }

  &__card-title {
    font-size: 25px;
    color: transparent;
    background: linear-gradient(
        180deg,
        rgb(47, 134, 255),
        rgba(47, 134, 255, 0.417)
      ),
      rgba(255, 255, 255, 0.202);
    background-clip: text;
    font-weight: 600;
  }

  &__big-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-top: 20px;
    flex-direction: column;
  }

  &__card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    margin-top: 30px;
  }

  &__big-icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35%;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18),
      inset 0 0 4px rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.08);
    cursor: pointer;
  }

  .big-icon {
    fill: rgb(47, 134, 255) !important;
    font-size: 36px !important;
    animation: icon 1.5s linear infinite alternate !important;
  }

  @keyframes icon {
    from {
      transform: rotate(-10deg);
    }
    to {
      transform: rotate(10deg);
    }
  }

  &__big-title {
    color: #ffffff;
    font-size: 18px !important;
    font-weight: 500;
    margin-top: 4px;
    text-align: center;
  }

  &__big-text {
    color: #a4a4a4;
    font-size: 14px !important;
    max-width: 180px;
    text-align: center;
  }

  &__cardd {
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__big-img {
    width: 100%;
    height: 260px;
    border-radius: 20px;
    border: 2px solid #3e3e3e3f;
  }

  .big-card {
    padding: 15px;
  }

  &__big-exp {
    font-size: 25px !important;
    padding-left: 5px;
    margin-top: 15px !important;
    font-weight: 500;
  }

  &__big-about {
    color: #a4a4a4;
    font-size: 16px;
    padding-left: 5px;
    margin-top: 10px;
    line-height: 30px !important;
  }

  &__big-link {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.14) 0%,
        rgba(255, 255, 255, 0.06) 100%
      ),
      rgba(20, 24, 28, 0.55);
    backdrop-filter: blur(2px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    border: 1px solid #3c3c3c6d;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35),
      inset 0 0.5px 0 rgba(255, 255, 255, 0.35),
      inset 0 10px 24px rgba(255, 255, 255, 0.06);
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 12px;
  }

  &__big-links {
    display: flex;
    align-items: center;
    margin-top: 20px;
    column-gap: 20px;
  }

  &__first-cardd {
    max-width: 600px;
    width: 100%;
  }
}

/* ----------------------- MEDIA QUERIES ----------------------- */

/* ================== 768px ================== */
@media (max-width: 768px) {
  .qonoq {
    margin-top: 70px;

    &__title {
      font-size: 30px !important;
    }

    &__text {
      font-size: 17px;
    }

    &__small-box {
      width: 650px;
    }

    &__big-box {
      flex-direction: column-reverse;
      row-gap: 30px;
      margin-top: 40px;
    }
  }
}

/* ================== 650px ================== */
@media (max-width: 650px) {
  .qonoq {
    &__title {
      font-size: 28px !important;
    }

    &__text {
      font-size: 15px;
      margin-top: 10px;
    }

    &__small-box {
      width: 300px;
      justify-content: center;
      row-gap: 20px;
      margin-top: 30px;
    }

    &__small-card {
      padding: 30px 10px;
      border-radius: 15px;
    }

    &__small-icon {
      width: 50px;
      height: 50px;

      svg {
        font-size: 20px;
      }
    }

    &__small-title {
      font-size: 16px;
    }

    &__small-text {
      font-size: 14px;
    }

    &__big-img {
      height: 270px;
      object-fit: cover;
    }

    &__big-exp {
      font-size: 23px !important;
    }

    &__big-about {
      font-size: 15px;
      line-height: 30px !important;
    }

    &__card-title {
      font-size: 22px;
    }

    &__big-link {
      font-size: 16px;
      padding: 8px 16px;
    }
  }
}

/* ================== 500px ================== */
@media (max-width: 500px) {
  .qonoq {
    margin-top: 30px;

    &__title {
      font-size: 23px !important;
    }

    &__text {
      font-size: 14px;
    }

    &__big-box {
      margin-top: 20px;
      row-gap: 20px;
    }

    &__big-img {
      height: 230px;
      border-radius: 9px;
    }

    &__big-exp {
      font-size: 20px !important;
    }

    &__big-about {
      font-size: 13px;
      line-height: 30px !important;
    }

    &__big-links {
      column-gap: 10px;
      margin-top: 10px;
    }

    &__big-link {
      font-size: 14px;
      padding: 6px 12px;
    }

    &__card-title {
      font-size: 19px;
    }

    &__big-icon {
      width: 50px;
      height: 50px;
    }

    &__big-title {
      font-size: 15px !important;
    }
  }
}

/* ================== 430px ================== */
@media (max-width: 430px) {
  .qonoq {
    &__title {
      font-size: 21px !important;
    }

    &__text {
      font-size: 13px;
    }

    &__small-card {
      padding: 20px 0;
    }

    &__big-img {
      height: 190px;
    }

    &__big-exp {
      font-size: 19px !important;
      margin-top: 6px;
    }

    &__big-link {
      font-size: 12px;
      padding: 6px 8px;
    }
  }
}

/* ================== 380px ================== */
@media (max-width: 380px) {
  .qonoq {
    &__title {
      font-size: 20px !important;
    }

    &__text {
      font-size: 12px;
    }

    &__big-img {
      height: 160px;
    }

    &__big-exp {
      font-size: 18px !important;
      text-align: center;
    }

    &__big-about {
      font-size: 12px;
      text-align: center;
      line-height: 30px !important;
    }

    &__big-links {
      flex-direction: column;
      align-items: center;
      row-gap: 5px;
    }

    &__small-icon {
      width: 40px;
      height: 40px;
    }

    &__small-title {
      font-size: 15px;
    }

    &__small-text {
      font-size: 12px;
    }

    &__card-title {
      font-size: 18px;
      text-align: center;
    }

    &__cardd,
    &__first-cardd {
      flex-direction: column;
    }
  }
}

/* ================== 340px ================== */
@media (max-width: 340px) {
  .qonoq {
    &__big-exp {
      font-size: 17px !important;
    }

    &__big-about {
      font-size: 11px;
      line-height: 30px !important;
    }
  }
}
