.qonoq {
  margin-top: 100px;
  &__title {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: transparent;
    background: linear-gradient(
        180deg,
        rgb(47, 134, 255),
        rgba(47, 134, 255, 0.417)
      ),
      rgba(255, 255, 255, 0.202);
    background-clip: text;
  }

  &__text {
    font-size: 18px;
    color: rgb(101, 101, 101);
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 15px;
  }

  &__small-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  &__small-card {
    width: 300px;
    height: fit-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff25;
    border-radius: 25px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06),
      0 10px 20px rgba(6, 6, 6, 0.653);
    transition: 0.3s;
    transform: scale(1);

    &:hover {
      transform: scale(1.03);
      cursor: pointer;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.195),
        0 10px 20px rgba(21, 21, 21, 0.405);
    }
  }

  &__small-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #ffffff25;
    box-shadow: 0 5px 15px #39393925;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;

    & svg {
      fill: rgb(47, 134, 255);
      animation: svg 2s infinite linear alternate;
    }

    @keyframes svg {
      from {
        transform: rotate(-30deg);
      }
      to {
        transform: rotate(30deg);
      }
    }
  }

  &__small-title {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
  }

  &__small-text {
    font-size: 16px;
    color: #6f6f6f;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
  }

  &__big-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__big-card {
    max-width: 650px;
    width: 100%;
    height: 550px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    border: 1px solid #ffffff25;
    border-radius: 30px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06),
      0 10px 20px rgba(6, 6, 6, 0.653);
  }

  &__card-title {
    font-size: 25px;
    color: transparent;
    background: linear-gradient(
        180deg,
        rgb(47, 134, 255),
        rgba(47, 134, 255, 0.417)
      ),
      rgba(255, 255, 255, 0.202);
    background-clip: text;
    font-weight: 600;
  }

  &__big-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-top: 20px;
    flex-direction: column;
  }

  &__card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    margin-top: 30px;
  }

  &__big-icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35%;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18),
      inset 0 0 4px rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.08);
    cursor: pointer;
  }

  .big-icon {
    fill: rgb(47, 134, 255);
    font-size: 36px;
    animation: icon 1.5s linear infinite alternate;
  }

  @keyframes icon {
    from {
      transform: rotate(-10deg);
    }
    to {
      transform: rotate(10deg);
    }
  }

  &__big-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 4px;
    text-align: center;
  }

  &__big-text {
    color: #a4a4a4;
    font-size: 14px;
    max-width: 180px;
    text-align: center;
  }

  &__cardd {
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
  }

  &__big-img {
    width: 100%;
    height: 260px;
    border-radius: 20px;
    border: 2px solid #3e3e3e3f;
  }

  .big-card {
    padding: 20px;
  }

  &__big-exp {
    font-size: 25px;
    padding-left: 5px;
    margin-top: 15px;
    font-weight: 500;
  }

  &__big-about {
    color: #a4a4a4;
    font-size: 16px;
    padding-left: 5px;
    margin-top: 10px;
    line-height: 30px;
  }

  &__big-link {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.14) 0%,
        rgba(255, 255, 255, 0.06) 100%
      ),
      rgba(20, 24, 28, 0.55);
    backdrop-filter: blur(2px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    border: 1px solid #3c3c3c6d;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35),
      inset 0 0.5px 0 rgba(255, 255, 255, 0.35),
      inset 0 10px 24px rgba(255, 255, 255, 0.06);
    transition: transform 0.3s cubic-bezier(0.2, 0.8, 0.2, 1),
      box-shadow 0.3s cubic-bezier(0.2, 0.8, 0.2, 1),
      opacity 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 12px;
  }

  &__big-links {
    display: flex;
    align-items: center;
    margin-top: 20px;
    column-gap: 20px;
  }

  &__first-cardd {
    max-width: 600px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .qonoq__title {
    font-size: 30px !important;
  }

  .qonoq {
    margin-top: 70px !important;
  }

  .qonoq__text {
    font-size: 17px !important;
  }

  .qonoq__small-box {
    width: 650px;
  }

  .qonoq__big-box {
    display: flex;
    flex-direction: column-reverse !important;
    row-gap: 30px;
    margin-top: 40px !important;
  }
}

@media (max-width: 600px) {
  .qonoq__small-box {
    width: 620px;
    column-gap: 20px;
    justify-content: center !important;
  }

  .qonoq__small-card {
    width: 270px !important;
    padding: 20px !important;
  }

  #qonoq__small-text2 {
    font-size: 14.8px !important;
  }
}

@media (max-width: 650px) {
  .qonoq__big-box {
    display: flex !important;
    justify-content: center !important;
  }

  .qonoq__title {
    font-size: 28px !important;
  }

  .qonoq__big-img {
    height: 270px;
    object-fit: cover;
    width: 100%;
  }

  .qonoq__text {
    font-size: 15px !important;
    margin-top: 10px;
  }

  .qonoq__small-box {
    width: 300px;
    column-gap: 30px;
    justify-content: center !important;
  }

  .qonoq__small-icon {
    width: 50px;
    height: 50px;
  }

  .qonoq__small-icon svg {
    font-size: 20px;
  }

  .qonoq__small-title {
    font-size: 16px;
  }

  .qonoq__small-text {
    font-size: 14px;
  }

  .qonoq__small-card {
    padding: 30px 10px;
    border-radius: 15px !important;
  }

  .qonoq__small-box {
    margin-top: 30px;
    row-gap: 20px;
  }

  .qonoq .big-card {
    padding: 15px;
  }

  .qonoq__big-exp {
    font-size: 23px;
  }

  .qonoq__big-about {
    font-size: 15px;
    line-height: 130%;
  }

  .qonoq__big-card {
    height: fit-content;
  }

  .qonoq__big-link {
    font-size: 16px !important;
    padding: 8px 16px !important;
  }

  .qonoq__card-title {
    font-size: 22px !important;
  }

  .qonoq__card-div {
    margin-top: 15px;
  }

  .qonoq__big-icon {
    width: 70px;
    height: 70px;
  }

  .qonoq__big-title {
    font-size: 16px;
  }

  .qonoq__big-text {
    font-size: 13px;
  }

  .qonoq__big-links {
    margin-top: 10px;
  }
}

@media (max-width: 550px) {
  .qonoq__big-exp {
    font-size: 21px;
  }

  .qonoq__big-about {
    font-size: 14px;
  }

  .qonoq__big-link {
    font-size: 15px !important;
    padding: 7px 14px !important;
  }

  .qonoq__big-box {
    row-gap: 20px !important;
    margin-bottom: 20px !important;
  }

  .qonoq__big-card {
    padding: 20px !important;
  }

  .qonoq__card-title {
    font-size: 20px !important;
  }

  .qonoq__big-icon {
    width: 60px;
    height: 60px;
  }

  .qonoq__card-div:nth-child(3) {
    row-gap: 5px;
    margin-top: 0;
  }

  .qonoq__big-icon {
    svg {
      width: 25px;
      height: 25px;
    }
  }

  .qonoq {
    margin-top: 30px !important;
  }
}

@media (max-width: 500px) {
  .qonoq__title {
    font-size: 23px !important;
  }

  .qonoq__text {
    font-size: 14px !important;
  }

  .qonoq__big-box {
    margin-top: 20px !important;
  }

  .qonoq__big-img {
    height: 230px;
    border-radius: 9px;
  }

  .qonoq__big-exp {
    font-size: 20px;
  }

  .qonoq__big-about {
    font-size: 13px;
  }

  .qonoq__big-links {
    column-gap: 10px;
  }

  .qonoq__big-link {
    font-size: 14px !important;
    padding: 6px 12px !important;
  }

  .qonoq .big-card {
    border-radius: 17px;
  }

  .qonoq__big-card {
    border-radius: 17px;
  }

  .qonoq__card-title {
    font-size: 19px !important;
  }

  .qonoq__big-icon {
    width: 50px;
    height: 50px;
  }

  .qonoq__big-title {
    font-size: 15px;
  }

  .qonoq__card-div:nth-child(3) {
    row-gap: 4px;
    margin-top: 10px;
  }

  .qonoq__first-cardd {
    max-width: 600px;
    width: 97%;
  }
}

@media (max-width: 430px) {
  .qonoq__title {
    font-size: 21px !important;
  }

  .qonoq__text {
    font-size: 13px !important;
  }

  .qonoq__small-card {
    padding: 20px 0 !important;
    border-radius: 15px !important;
  }

  .qonoq__small-box {
    margin-top: 20px;
    row-gap: 20px;
  }

  .qonoq__big-img {
    height: 190px;
    border-radius: 9px;
  }

  .qonoq__big-exp {
    font-size: 19px;
    margin-top: 6px;
  }

  .qonoq__big-links {
    column-gap: 5px;
    margin-top: 15px;
  }

  .qonoq__big-link {
    font-size: 12px !important;
    padding: 6px 8px !important;
  }
}

@media (max-width: 460px) {
  .qonoq__card-div:nth-child(3) {
    row-gap: 4px;
    margin-top: 20px;
  }

  .qonoq__big-div {
    margin-top: 0;
    row-gap: 10px;
  }

  .qonoq__big-title {
    font-size: 14px;
  }

  .qonoq__big-text {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .qonoq__big-links {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: flex-start;
  }
  .qonoq__big-link {
    font-size: 13px;
  }
}

@media (max-width: 380px) {
  .qonoq__big-img {
    height: 160px;
  }

  .qonoq__big-exp {
    font-size: 18px;
  }

  .qonoq__big-about {
    font-size: 12px;
  }

  .qonoq__big-links {
    column-gap: 5px;
    margin-top: 10px;
  }

  .qonoq__big-link {
    font-size: 12px !important;
    padding: 5px 6px !important;
  }

  .qonoq__big-card {
    padding: 12px 16px !important;
    border-radius: 12px !important;
  }

  .qonoq__title {
    font-size: 20px !important;
  }

  .qonoq__text {
    font-size: 12px !important;
  }

  .qonoq__small-icon {
    width: 40px;
    height: 40px;
  }

  .qonoq__small-title {
    font-size: 15px;
  }

  .qonoq__small-text {
    font-size: 12px;
    margin-top: 5px;
  }

  #qonoq__small-text2 {
    font-size: 12.8px !important;
    margin-top: 5px;
  }

  .qonoq__card-title {
    font-size: 18px !important;
    margin: 0 auto;
  }

  .qonoq__first-cardd {
    display: flex;
    flex-direction: column;
  }

  .qonoq__cardd {
    display: flex;
    flex-direction: column;
  }

  .qonoq__card-div {
    margin-top: 20px;
  }
}

@media (max-width: 341px) {
  .qonoq__big-links {
    column-gap: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }

  .qonoq__big-about {
    font-size: 12px;
    text-align: center;
  }

  .qonoq__big-exp {
    font-size: 18px;
    margin: 0 auto;
    margin-top: 5px;
  }
}
