.qonoq {
  margin-top: 100px;
  &__title {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: transparent;
    background: linear-gradient(
        180deg,
        rgb(47, 134, 255),
        rgba(47, 134, 255, 0.417)
      ),
      rgba(255, 255, 255, 0.202);
    background-clip: text;
  }

  &__text {
    font-size: 18px;
    color: rgb(101, 101, 101);
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 15px;
  }

  &__small-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  &__small-card {
    width: 300px;
    height: fit-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff25;
    border-radius: 25px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06),
      0 10px 20px rgba(6, 6, 6, 0.653);
    transition: 0.3s;
    transform: scale(1);

    &:hover {
      transform: scale(1.03);
      cursor: pointer;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.195),
        0 10px 20px rgba(21, 21, 21, 0.405);
    }
  }

  &__small-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #ffffff25;
    box-shadow: 0 5px 15px #39393925;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;

    & svg {
      fill: rgb(47, 134, 255);
      animation: svg 2s infinite linear alternate;
    }

    @keyframes svg {
      from {
        transform: rotate(-30deg);
      }
      to {
        transform: rotate(30deg);
      }
    }
  }

  &__small-title {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
  }

  &__small-text {
    font-size: 16px;
    color: #6f6f6f;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
  }

  &__big-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__big-card {
    max-width: 650px;
    width: 100%;
    height: 550px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    border: 1px solid #ffffff25;
    border-radius: 30px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06),
      0 10px 20px rgba(6, 6, 6, 0.653);
  }

  &__card-title {
    font-size: 25px;
    color: transparent;
    background: linear-gradient(
        180deg,
        rgb(47, 134, 255),
        rgba(47, 134, 255, 0.417)
      ),
      rgba(255, 255, 255, 0.202);
    background-clip: text;
    font-weight: 600;
  }

  &__big-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-top: 20px;
    flex-direction: column;
  }

  &__card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    margin-top: 30px;
  }

  &__big-icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35%;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18),
      inset 0 0 4px rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.08);
    cursor: pointer;
  }

  .big-icon {
    fill: rgb(47, 134, 255);
    font-size: 36px;
    animation: icon 1.5s linear infinite alternate;
  }

  @keyframes icon {
    from {
      transform: rotate(-10deg);
    }
    to {
      transform: rotate(10deg);
    }
  }

  &__big-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 4px;
    text-align: center;
  }

  &__big-text {
    color: #a4a4a4;
    font-size: 14px;
    max-width: 180px;
    text-align: center;
  }

  &__cardd {
    max-width: 540px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
  }

  &__big-img {
    width: 100%;
    height: 260px;
    border-radius: 20px;
    border: 2px solid #3e3e3e3f;
  }

  .big-card {
    padding: 20px;
  }

  &__big-exp {
    font-size: 25px;
    padding-left: 5px;
    margin-top: 15px;
    font-weight: 500;
  }

  &__big-about {
    color: #a4a4a4;
    font-size: 16px;
    padding-left: 5px;
    margin-top: 10px;
    line-height: 30px;
  }

  &__big-link {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.14) 0%,
        rgba(255, 255, 255, 0.06) 100%
      ),
      rgba(20, 24, 28, 0.55);
    backdrop-filter: blur(2px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    border: 1px solid #3c3c3c6d;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35),
      inset 0 0.5px 0 rgba(255, 255, 255, 0.35),
      inset 0 10px 24px rgba(255, 255, 255, 0.06);
    transition: transform 0.3s cubic-bezier(0.2, 0.8, 0.2, 1),
      box-shadow 0.3s cubic-bezier(0.2, 0.8, 0.2, 1),
      opacity 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 12px;
  }

  &__big-links {
    display: flex;
    align-items: center;
    margin-top: 20px;
    column-gap: 20px;
  }

  &__first-cardd {
    max-width: 600px;
    width: 100%;
  }
}
