.services {
  padding: 50px 0;
  overflow-x: hidden !important;
}

.services__header {
  text-align: center;
  margin-bottom: 60px;

  h2 {
    font-size: 45px !important;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(180deg,
        rgb(47, 134, 255),
        rgba(47, 134, 255, 0.417)),
      rgba(255, 255, 255, 0.202);
    background-clip: text;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    max-width: 620px;
    font-size: 19px;
    margin-bottom: 15px;
    color: #e8e8e8;
    margin: 0 auto;
  }
}

.services__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.service__card {
  position: relative;
  padding: 28px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: all 0.35s ease;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  width: calc(33% - 19px);

  &:hover {
    transform: translateY(-6px);
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 6px;
  }

  p {
    font-size: 14px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.7);
  }
}

.service__icon {
  width: 54px;
  height: 54px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  font-size: 24px;
  color: #7aa2ff;

  background: linear-gradient(145deg,
      rgba(122, 162, 255, 0.25),
      rgba(122, 162, 255, 0.05));
  border: 1px solid rgba(122, 162, 255, 0.35);
}

.service__tag {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  color: #7aa2ff;
  background: rgba(122, 162, 255, 0.15);
  border: 1px solid rgba(122, 162, 255, 0.3);
}

@media (max-width: 900px) {
  // .services {
  //   padding: 10px 0;
  // }

  .service__card {
    text-align: center;
  }

  .service__icon {
    margin: 0 auto;
    margin-bottom: 20px !important;
  }
}

@media (max-width: 610px) {
  h2 {
    font-size: 40px !important;
  }

  p {
    font-size: 18px !important;
    max-width: 500px !important;
  }

  .services__header h2 {
    font-size: 40px !important;
  }
}

@media (max-width: 768px) {
  .services {
    padding: 0px;
    overflow-x: hidden !important;
  }

  .services__header h2 {
    font-size: 40px !important;
  }
}

@media (max-width: 550px) {
  .services__header h2 {
    font-size: 35px !important;
  }

  p {
    font-size: 17px !important;
    max-width: 500px !important;
  }
}

@media (max-width: 500px) {
  .services__header h2 {
    font-size: 32px !important;
  }

  p {
    font-size: 16px !important;
    max-width: 500px !important;
    width: 100%;
  }
}