.serviceheader {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .serviceheader__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__card-left {
    display: flex;
    flex-direction: column;
  }

  .serviceheader__title {
    font-weight: 700;
    color: transparent;
    background: linear-gradient(
        180deg,
        rgb(47, 134, 255),
        rgba(47, 134, 255, 0.417)
      ),
      rgba(255, 255, 255, 0.202);
    background-clip: text;
    // text-align: center;
    margin-bottom: 20px;
    max-width: 600px;
    font-size: 45px !important;
  }

  .serviceheader__text1 {
    font-size: 19px;
    margin-bottom: 15px;
    color: #e8e8e8;
    max-width: 600px;
  }

  .serviceheader__text2 {
    font-size: 16px;
    line-height: 1.7;
    color: #cecece;
    max-width: 620px;
  }

  &__big-links {
    display: flex;
    align-items: center;
    // justify-content: center;
    column-gap: 20px;
    margin-top: 30px;

    .qonoq__big-link {
      font-size: 20px;
    }
  }

  &__img {
    max-width: 600px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    border-radius: 30px;
    position: relative;
    // box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06),
    //   0 8px 26px rgba(0, 0, 0, 0.28);
    animation: img 1s infinite alternate-reverse ease-in-out;
    padding: 30px;

    @keyframes img {
      from {
        transform: rotate(-0.5deg);
      }
      to {
        transform: rotate(0.5deg);
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      // background: #00000041;
      border-radius: 30px;
      padding: 20px;
    }

    img {
      width: 600px;
      height: 400px;
      border-radius: 30px;
      border: 1.5px solid rgba(197, 197, 197, 0.485);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45),
        inset 0 -1px 0 rgba(255, 255, 255, 0.12),
        0 10px 30px rgba(0, 0, 0, 0.35);
      object-fit: cover;
    }
  }
}

@media (max-width: 1100px) {
  .serviceheader__box {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .serviceheader .serviceheader__title {
    text-align: center;
    font-size: 35px !important;
  }

  .serviceheader__text1 {
    text-align: center;
  }

  .serviceheader__text2 {
    text-align: center;
  }

  .serviceheader__big-links {
    justify-content: center;
  }

  .services__grid {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .serviceheader {
    padding: 0 0 40px 0;
  }

  .service__card-left {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .serviceheader__box {
    padding: 0 20px;
  }

  .serviceheader .serviceheader__title {
    font-size: 30px !important;
  }

  .serviceheader__text1 {
    font-size: 18px !important;
  }

  .serviceheader__text2 {
    font-size: 16px !important;
  }

  .qonoq__big-link {
    font-size: 17px !important;
  }

  .serviceheader__img img {
    object-fit: cover;
    max-width: 500px;
    max-height: 370px;
    width: 100%;
    height: 100%;
  }

  .serviceheader__img::before {
    // width: 100% !important;
    // height: 100% !important;
    background: none !important;
  }

  .serviceheader__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .service__card {
    width: calc(45% - 19px) !important;
  }
}

@media (max-width: 666px) {
  h3 {
    font-size: 16px !important;
  }
}

@media (max-width: 650px) {
  .service__card {
    width: calc(70% - 19px) !important;
  }

  .serviceheader__img img {
    object-fit: cover;
    width: 500px;
    // width: 100%;
    height: 370px;
  }

  .serviceheader__box {
    margin: 0 auto !important;
  }
}

@media (max-width: 610px) {
  .service__card {
    width: calc(70% - 19px) !important;
  }

  .serviceheader__img img {
    object-fit: cover;
    max-width: 450px;
    width: 100%;
    max-height: 3000px;
    height: 100%;
  }

  .serviceheader__box {
    margin: 0 auto !important;
  }

  .serviceheader .serviceheader__title {
    font-size: 25px !important;
  }

  .serviceheader__text1 {
    font-size: 16px !important;
  }

  .serviceheader__text2 {
    font-size: 14px !important;
  }
}

@media (max-width: 600px) {
  .service__card {
    width: calc(90% - 19px) !important;
  }
}
