.serviceheader {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .serviceheader__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__card-left {
    display: flex;
    flex-direction: column;
  }

  .serviceheader__title {
    font-size: 45px;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(
        180deg,
        rgb(47, 134, 255),
        rgba(47, 134, 255, 0.417)
      ),
      rgba(255, 255, 255, 0.202);
    background-clip: text;
    // text-align: center;
    margin-bottom: 20px;
    max-width: 600px;
  }

  .serviceheader__text1 {
    font-size: 19px;
    margin-bottom: 15px;
    color: #e8e8e8;
    max-width: 600px;
  }

  .serviceheader__text2 {
    font-size: 16px;
    line-height: 1.7;
    color: #cecece;
    max-width: 620px;
  }

  &__big-links {
    display: flex;
    align-items: center;
    // justify-content: center;
    column-gap: 20px;
    margin-top: 30px;

    .qonoq__big-link {
      font-size: 20px;
    }
  }

  &__img {
    width: 600px;
    height: 400px;
    border-radius: 30px;
    position: relative;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06),
      0 8px 26px rgba(0, 0, 0, 0.28);
    animation: img 1s infinite alternate-reverse ease-in-out;

    @keyframes img {
      from {
        transform: rotate(-0.5deg);
      }
      to {
        transform: rotate(0.5deg);
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #00000041;
      border-radius: 30px;
    }

    img {
      width: 600px;
      height: 400px;
      border-radius: 30px;
      border: 1.5px solid rgba(197, 197, 197, 0.485);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45),
        inset 0 -1px 0 rgba(255, 255, 255, 0.12),
        0 10px 30px rgba(0, 0, 0, 0.35);
      object-fit: cover;
    }
  }
}
