.footer {
  margin-top: 100px;

  &__box {
    width: 100%;
    height: fit-content;
    border-radius: 75px;
    background: rgba(20, 20, 20, 0.55);
    backdrop-filter: blur(18px) saturate(140%);
    -webkit-backdrop-filter: blur(18px) saturate(140%);
    border: 2px solid rgba(255, 255, 255, 0.204);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    padding: 50px 100px 30px 100px;
  }

  &__div {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  & .nav__logo {
    display: flex;
    justify-content: start;
  }

  &__text {
    width: 370px;
    text-align: left;
    color: rgb(153, 153, 153);
  }

  &__socials {
    display: flex;
    align-items: center;
    column-gap: 25px;
    margin-top: 30px;
  }

  &__social {
    font-size: 18px;
    background: rgba(40, 40, 40, 0.55);
    backdrop-filter: blur(18px) saturate(140%);
    -webkit-backdrop-filter: blur(18px) saturate(140%);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  &__card-title {
    font-size: 25px;
    font-weight: 600;
    color: transparent;
    background: linear-gradient(
        180deg,
        rgb(47, 134, 255),
        rgba(47, 134, 255, 0.417)
      ),
      rgba(255, 255, 255, 0.202);
    background-clip: text;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 20px;
  }

  &__link {
    font-size: 18px;
    color: rgb(179, 179, 179);
    transition: 0.2s;
    font-weight: 500;

    &:hover {
      color: #fff;
    }
  }

  &__card-contact {
    color: rgb(179, 179, 179);
    font-size: 18px;
    max-width: 330px;
    margin-top: 20px;

    a {
      color: rgb(179, 179, 179);

      &:hover {
        color: #fff;
      }
    }
  }

  &__line {
    width: 50%;
    margin: 0 auto;
    height: 3px;
    background: #393939;
    border-radius: 10px;
    margin-top: 70px;
  }

  &__line-text {
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
    color: #606060;
    user-select: none;
  }
}
