.caps {
  margin-top: 100px;

  &__title {
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  &__card {
    
    background: radial-gradient(
        300px 150px at 50% 0%,
        rgba(255, 255, 255, 0.08),
        transparent 60%
      ),
      radial-gradient(
        300px 150px at 50% 100%,
        rgba(255, 255, 255, 0.08),
        transparent 60%
      ),
      rgba(16, 16, 16, 0.55);
    backdrop-filter: saturate(170%) blur(14px);
    -webkit-backdrop-filter: saturate(170%) blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06),
      0 8px 26px rgba(0, 0, 0, 0.28);
    overflow: hidden;
    border-radius: 30px;
  }
}
