.capsmodal {
  position: fixed;
  inset: 0;
  z-index: 9999;

  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  opacity: 0;
  animation: overlayIn 0.25s ease-out forwards;
}

.capsmodal__box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 400px;

  background: radial-gradient(
      300px 150px at 0% 5%,
      rgba(255, 255, 255, 0.08),
      transparent 60%
    ),
    radial-gradient(
      300px 150px at 100% 100%,
      rgba(255, 255, 255, 0.08),
      transparent 60%
    ),
    rgba(16, 16, 16, 0.809);

  backdrop-filter: saturate(170%) blur(16px);
  -webkit-backdrop-filter: saturate(170%) blur(16px);

  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08),
    0 10px 40px rgba(0, 0, 0, 0.6);

  opacity: 0;
  animation: modalIn 0.35s ease-out forwards;
}

@keyframes overlayIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: translate(-50%, -45%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
