.login {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__card {
  width: 360px;
  max-width: 92%;
  padding: 32px 26px;

  background: radial-gradient(
      300px 150px at 0% 5%,
      rgba(255, 255, 255, 0.08),
      transparent 60%
    ),
    radial-gradient(
      300px 150px at 100% 100%,
      rgba(255, 255, 255, 0.08),
      transparent 60%
    ),
    rgba(16, 16, 16, 0.55);
  backdrop-filter: saturate(170%) blur(14px);
  -webkit-backdrop-filter: saturate(170%) blur(14px);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06),
    0 8px 26px rgba(0, 0, 0, 0.28);
  overflow: hidden;
  border-radius: 22px;
  border: 1px solid #cccccc87;

  /* juda yengil premium shadow */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);

  text-align: center;
}

.login__card h2 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 4px;
  font-weight: 600;
}

.login__card p {
  color: rgba(255, 255, 255, 0.55);
  font-size: 13px;
  margin-bottom: 24px;
}

/* ===== Inputs ===== */

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.field {
  position: relative;
}

.field input {
  width: 100%;
  height: 46px;
  padding: 14px 12px 0;

  border-radius: 12px;
  background: rgba(255, 255, 255, 0.06);

  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  outline: none;
}

.field label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  transition: 0.25s ease;
}

.field input:focus + label,
.field input:valid + label {
  top: 11px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

/* ===== Error ===== */

.error {
  font-size: 12px;
  color: #ff6b6b;
}

/* ===== Button ===== */

button {
  margin-top: 6px;
  height: 44px;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.14);
  color: #fff;
  font-weight: 500;

  transition: 0.2s ease;
}

button:hover {
  background: rgba(255, 255, 255, 0.22);
}
